body{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  text-align: left;
  height: 100%;
  background-color: #FFFFFF;
}

img {
  width: 100%;
  display: block;
}
h1{
  color: #545454; 
  font-size: 23px; 
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: normal;
  margin-bottom: 0.2em;
  padding-left: 10px;
}
h2{
  color: #999999; 
  font-size: 14px;  
  margin-top: 0px;
  margin-bottom: 1em;
  font-weight: normal;
}
h3{
  clear: both;
  color: #434343;
  height: 23px;
  font-size: 15px;
  margin-bottom: 15px;
  font-weight: normal;
  border-bottom: 1px solid #BCBCBC;
}
.orange_border{
  margin-bottom: 0.2em;
  padding-left: 10px;
  border-left: 4px solid #FA8865;
}

td {
    text-align: center;
}

table
  {
  border-collapse:collapse;
  }

table,th, td
  {
  border: 1px solid black;
  
  }
.current_tab{font-weight: bold;}
.subdued_text{
  color: #999999;
  margin: 0px 1em 1em 0px;
}
.blank{
  height: 2em;
  clear: both;
}
.small_blank{
  height: 5px;
  clear: both;
}
.post_content{
  clear: both;
  width: 800px;
  float: left;
  margin: 0px 20px 17px 20px;
}
.post_publication{
  clear: both;
  width: 855px;
  height: 128px;
  margin: 0 auto;
}
.thumbnail{
  width: 180px;
  float: left;
  padding: 3px 34px 0px 10px;
  border-right: 1px solid #BCBCBC;
}
.logo_container{
  height: 110px;
  float: left;
  padding: 0px 40px 0px 12px;
  border-right: 1px solid #BCBCBC;
}
.logo_ps{
  width: 50px;
  margin-top: 33px;
}
#logo_epo{
  width: 100px;
  margin-top: 33px;
  margin-left: 23px;
  margin-right: 32px;
  }
.post_content_publication{
  width: 610px;
  height: 100px;
  float: right;
  padding: 11px 0px 11px 11px;
  }
.publication_title{
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
  font-weight: bold;
}
.publication_authors{
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.publication_print{
  margin: 0;
  padding: 0;
  font-style: italic;
}
.break_line{
  width: 900px;
  height: 5px;
  background-color: #FFFFFF;
  border-top: 1px solid #BCBCBC;
  clear: both;
  margin: 10px auto 10px auto;
}
ul{
  margin-left: -10px;
}
li{
  margin-top: 15px;
}
#website{
  margin: 0 auto;
  width: 940px;
  height: 100%;
  background-color: #FFFFFF;
} 
a{
  color: blue;
  text-decoration: none;
}                   
a:hover{
  color: #003399;
  text-decoration: underline;
}                                                                    
#nav{
  background-color: #FFFFFF;
  height: 35px; 
  padding: 15px 0px 0px 0px;
  margin: 5px 0px 30px 0px;
  border-bottom: 1px solid #BCBCBC;
  text-indent: 3px;
}                        
#nav ul{
  list-style: none;
  display: inline;
}             
#nav li{
  float: left;
  font-size: 15px;
  margin: 0px 70px 0px 50px;
  padding-bottom: 0px;
}
#nav a{
  color: #999999;
  text-decoration: none;
  }
#nav a:visited{
color: #999999;
  text-decoration: none;
}
#nav a:hover{
  color: #545454 ;
  text-decoration: none;                           
}
#header{
  height: 300px;
  background-color: #FFFFFF;
  margin-bottom: 0em;
  padding-left: 1em;
  padding-right: 1em;
}
#headerLeft{
  float: left;
  border-right: 1px solid #BCBCBC;
  padding-left: 1em;
  padding-right: 4.5em;
}
#photo{
  width: 150px;
  margin: 0px 0px 0px 25px;  
  -o-box-shadow: 5px 5px 10px #999999;
  -webkit-box-shadow: 5px 5px 10px #999999;
  -moz-box-shadow: 5px 5px 10px #999999;
  -ms-box-shadow: 5px 5px 10px #999999;
  box-shadow: 5px 5px 10px #999999;
}
#contact{
  float: right;
  padding-right: 15em;
}
#contact a{
  color: #999999; 
  font-size: 1.15em;
  text-decoration: none; 
}
#contact a:visited{
  color: #999999; 
  font-size: 1.15em;   
  text-decoration: none;
}
#contact a:hover{
  color: #545454; 
  font-size: 1.15em;   
  text-decoration: none;
}
#footer{
  background-color: #FFFFFF;
  border-top: 1px solid #BCBCBC;
  padding: 10px 0px 40px 0px;
  margin-top: 30px;
  clear: both;
  text-align: center;
}  
#footer a{
  color: #999999;
}
#footer a:visited{
  color: #999999;
}                
#footer a:hover{
  color: #545454;
  text-decoration: none;
}
#copyright{
  color: #999999;
  text-align: left;
  font-size: 0.85em;
  text-indent: 5px;
}
.cv_content{
  width: 900px;
  margin-left: 18px;
}
.cv_content ul{
  list-style: none;
}                  
.cv_content li{
  margin-left: -30px;
  clear: both;
}                   
.cv_date{
  float: left;
  font-weight: bold;
  margin-right: 5px;
  width: 150px;
  margin-bottom: 15px;
}          
.cv_text{
  float: left;
  width: 500px;
  margin-bottom: 15px;
}                                
